@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
    --cor-principal: rgb(99, 26, 114);
    --cor-secundaria: rgb(86, 100, 94);
    --cor-destaque: #4269f5;
}

body {
    font-family: 'Geist Mono', sans-serif;
}

h1,h2,h5 {
    color: var(--cor-secundaria);
    font-weight: 200;
}

footer a {
    color: var(--cor-principal);
}

footer a:hover {
    color: var(--cor-destaque)
}

body.dark-mode {
    background-color: rgba(18, 18, 18, 0.853);
    color:  #000000;
}

dark-mode-btn {
    display: flex;
    background-color: #000000;
    color: #000000;
    border-radius: 150px;
}

.dark-mode-btn {
    background-color: rgb(44, 62, 80);
    color: withe;
    border-radius: 150px;
}

.dark-mode-btn:hover {
    background-color: #ffffff;
    color: rgb(44, 62, 80);
    border-radius: 150px;
}
    
